@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="form-wrapper col-12 col-md-auto d-flex justify-content-center p-4 p-md-0">

    <div class="form-content md-elevation-8 h-100 bg-white text-auto py-16 py-md-32 px-12">

        <div class="title h5">Log in to your account</div>

        <form name="loginForm"  id="account" method="post" class="mt-8">

            <div class="form-group mb-4">
                <input type="text" class="form-control" id="UserName" name="UserName" aria-describedby="emailHelp" placeholder=" " />
                <label for="UserName">Email address</label>
            </div>

            <div class="form-group mb-4">
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" />
                <label for="Password">Password</label>
            </div>

            <div class="remember-forgot-password row no-gutters align-items-center justify-content-between pt-4">

                <div class="form-check remember-me mb-4">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" aria-label="Remember Me" />
                        <span class="checkbox-icon"></span>
                        <span class="form-check-description">Remember Me</span>
                    </label>
                </div>

            </div>

            <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN">
                LOG IN
            </button>

        </form>

        <div class="separator">
            <span class="text">OR</span>
        </div>

        <button type="submit" class="google btn btn-block btn-secondary my-2 mx-auto" aria-label="LOG IN">
            <span>
                <i class="icon-google-plus s-4"></i>
                <span>Log in with Google</span>
            </span>
        </button>

        <button type="submit" class="facebook btn btn-block btn-secondary my-2 mx-auto" aria-label="LOG IN">
            <span>
                <i class="icon-facebook s-4"></i>
                <span>Log in with Facebook</span>
            </span>
        </button>

        <div class="register d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
            <span class="text mr-sm-2">Don't have an account?</span>
            <a class="link text-secondary" href="/Identity/Account/Register">Create an account</a>
        </div>

    </div>
</div>
